<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
        <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Meet the Experts Behind Rudra Solutions</h2>
            <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Introducing the Team of Rudra, the Proffessionals behind your Services and Solutions</p>
        </div>

        <!-- <div class="mx-auto space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0"> -->
            <!-- Pricing Card -->
            <div class=" mx-auto flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img src="assets/images/nirajshukla.jpg" alt="Image Description" class="mx-auto mb-4" style="width: 300px; height: 200px;">
                <div class="flex items-baseline justify-center my-8">
                    <span class="mr-2 text-5xl font-extrabold">Niraj Shukla</span>
                </div>
                <span class="text-2xl text-gray-500 dark:text-gray-400">Founder & CEO</span>
                <div class="flex items-baseline justify-center my-8">
                    <span class="text-gray-500 dark:text-gray-400"></span>
                </div>
                <!-- List -->
               <span>Niraj Shukla has been in this field since 34 years. Started off as a salesperson, leading his journey of being a marketing genius. His work proves that success is not acheived overnight, but with consistent determination.</span>

                <!-- <a href="#" class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-purple-900">Get started</a> -->
            </div>
        <!-- </div> -->

        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
        </div>

        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
        

            <div class=" mx-auto flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img src="assets/images/asifbelim.jpg" alt="Image Description" class="mx-auto mb-4" style="width: 300px; height: 400px;">
                <div class="flex items-baseline justify-center my-8">
                    <span class="mr-2 text-3xl font-extrabold">Asif Belim</span>
                </div>
                <span class="text-xl text-gray-500 dark:text-gray-400">Sr. Sales Executive</span>
                <div class="flex items-baseline justify-center my-8">
                    <span class="text-gray-500 dark:text-gray-400"></span>
                </div>
                <!-- List -->
               <span></span>
            </div>

            <div class=" mx-auto flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img src="assets/images/yashshukla" alt="Image Description" class="mx-auto mb-4" style="width: 400px; height: 400px;">
                <div class="flex items-baseline justify-center my-8">
                    <span class="mr-2 text-3xl font-extrabold">Yash Shukla</span>
                </div>
                <span class="text-xl text-gray-500 dark:text-gray-400">Home Automation and Sound Engineer</span>
                <div class="flex items-baseline justify-center my-8">
                    <span class="text-gray-500 dark:text-gray-400"></span>
                </div>
                <!-- List -->
               <span></span>
            </div>
            
            <div class=" mx-auto flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img src="assets/images/divyeshvegad.jpg" alt="Image Description" class="mx-auto mb-4" style="width: 300px; height: 400px;">
                <div class="flex items-baseline justify-center my-8">
                    <span class="mr-2 text-3xl font-extrabold">Divyesh Vegad</span>
                </div>
                <span class="text-xl text-gray-500 dark:text-gray-400">Security & Telecom Engineer</span>
                <div class="flex items-baseline justify-center my-8">
                    <span class="text-gray-500 dark:text-gray-400"></span>
                </div>
                <!-- List -->
               <span></span>
            </div>
            
            <div class=" mx-auto flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img src="assets/images/bhaveshparmar" alt="Image Description" class="mx-auto mb-4" style="width: 300px; height: 400px;">
                <div class="flex items-baseline justify-center my-8">
                    <span class="mr-2 text-3xl font-extrabold">Bhavesh Parmar</span>
                </div>
                <span class="text-xl text-gray-500 dark:text-gray-400">Sr. Service Engineer</span>
                <div class="flex items-baseline justify-center my-8">
                    <span class="text-gray-500 dark:text-gray-400"></span>
                </div>
                <!-- List -->
               <span></span>
            </div>

            <div class=" mx-auto flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img src="assets/images/dhaval" alt="Image Description" class="mx-auto mb-4" style="width: 300px; height: 400px;">
                <div class="flex items-baseline justify-center my-8">
                    <span class="mr-2 text-3xl font-extrabold">Dhaval Baldhiya</span>
                </div>
                <span class="text-xl text-gray-500 dark:text-gray-400">Security & Telecom Engineer</span>
                <div class="flex items-baseline justify-center my-8">
                    <span class="text-gray-500 dark:text-gray-400"></span>
                </div>
                <!-- List -->
               <span></span>
            </div>

            <div class=" mx-auto flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <img src="assets/images/pareshdhadhal.jpg" alt="Image Description" class="mx-auto mb-4" style="width: 300px; height: 400px;">
                <div class="flex items-baseline justify-center my-8">
                    <span class="mr-2 text-3xl font-extrabold">Paresh Dhadhal</span>
                </div>
                <span class="text-xl text-gray-500 dark:text-gray-400">Sales Executive</span>
                <div class="flex items-baseline justify-center my-8">
                    <span class="text-gray-500 dark:text-gray-400"></span>
                </div>
                <!-- List -->
               <span></span>
            </div>

        </div>

    </div>
  </section>

  